{% extends 'core/base.html' %}
{%block title %}{{item.name}}{% endblock %}
{% block content %} 
    <div class="container mx-auto px-4 py-8">
        <div class="col-span-2">
            <!-- Modification du style de l'image principale -->
            <img src="{{item.image.url}}" 
                 class="rounded-xl w-full h-auto object-contain bg-black p-2 shadow-lg" 
                 style="max-height: 300px;">
        </div>

        <!--infos section-->
        <div class="md:col-span-3 p-8 bg-gray-50 rounded-xl shadow">
            <h1 class="mb-4 text-4xl font-extrabold text-gray-900">{{ item.name }}</h1>
            <p class="mb-3 text-xl text-green-600 font-semibold"><strong> Price : {{item.price}}$</strong></p>
            <p class="mb-3 text-lg text-gray-700"><strong> Seller : {{item.created_by.username}}</strong></p>
            
            {% if item.description %}
            <p class="text-lg font-semibold text-gray-800 mb-2"><strong > Description : <br> {{item.description}}</strong></p>
            {% endif %}   
            
            <!-- to know that the user who created the item-->
            {%if request.user == item.created_by or request.user.is_superuser %}
                <div class="my-6 p-6 bg-white rounded-xl border">
                    
                    {%if request.user.is_superuser %}
                        <p class="mb-4 text-gray-700 font-medium"> Admin Controle</p>
                    {% else %}
                        <p class="mb-4 text-gray-700 font-medium"> this is your item </p>
                    {% endif %}   

                    <a href="{% url 'item:edit' item.id %}" class="inline-block mr-4 py-3 px-5 font-semibold bg-green-500 text-white rounded-xl hover:bg-green-600">
                        Edit
                    </a> 
                    <a href="{% url 'item:delete' item.id %}" onclick="return confirm('Are you sure you want to delete this item?');"class="inline-block py-3 px-5 font-semibold bg-red-500 text-white rounded-xl hover:bg-red-600">
                        Delete
                    </a>

                
                </div>
            {% else %}    
            <a href="{% url 'conversation:new' item.id %}" class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-600">Contact Seller</a>

            {% endif %}    
            

            
        </div>
        
    </div>

    <div class="mt-12 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-10 text-2xl text-center font-semibold text-gray-800">Related items</h2>

        <!-- Modification du style des images reliées -->
        <div class="grid grid-cols-3 gap-1">
            {% for item in related_items %}
                <div class="w-64 mx-auto bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow">
                    <a href="{% url 'item:detail' item.id %}">
                        <div class="p-2">
                            <img src="{{ item.image.url }}" 
                                 class="rounded-lg w-full h-48 object-contain bg-white">
                        </div>
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">{{ item.name }}</h2>
                            <p class="text-sm text-gray-500">Price : {{ item.price }}$</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        



    </div>


{% endblock %}