{% extends 'core/base.html' %}

{% block title %}Dashboard{% endblock %}
{% block left_nav_extras %}
    <form method="GET" action="{% url 'item:browse' %}" class="flex items-center space-x-2 ml-0">
        <input type="text" name="query" placeholder="Search games..."
               class="px-3 py-1.5 rounded-md text-sm bg-white text-black focus:outline-none focus:ring-2 focus:ring-teal-400 placeholder-gray-500" />
        <button type="submit"
                class="px-3 py-1.5 bg-teal-500 text-white text-sm rounded-md hover:bg-teal-600 transition">
            Search
        </button>
    </form>
{% endblock %}

{% block content %}

    <h1> your games</h1>






{% endblock%}